# Python bytecode and cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints (very messy folders)
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# macOS and Windows system files
.DS_Store
Thumbs.db

# Virtual Environments (if you ever use them locally)
env/
venv/
.env/

# Large Datasets 
# (Uncomment the line below by removing '#' if your datasets get larger than 50MB)
# *.csv
